{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% if error %}

    {{ error }}

  {% endif %}

  <h1>Add Image</h1>

  <form method="POST" action="{% url 'add' %}" enctype="multipart/form-data">
    {% csrf_token %}
    Caption:
    <br />
    <input type="text" name="caption" />
    <br />
    Inspiration:
    <br />
    <textarea class="form-control" rows="3" name="description" ></textarea>
    <br />
    Icon:
    <br />
    <input type="file" name="icon" />
    <br />
    Image:
    <br />
    <input type="file" name="image" />
    <br />
    <input class="btn btn-primary" type="submit" value="Add Image" />
  </form>
</div>
{% endblock %}