{% extends 'base.html' %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Shopify Image Hub</h1>
      <p class="lead text-muted">Image Hub is a place where you can either search for great images or share with everyone</p>


      <div class="form-group has-search"></div>
        <form action="{% url 'search' %}" method="GET">
          <span class="fa fa-search form-control-feedback"></span>
          <input name="q" class="form-control" type="text" value="{{ request.GET.q}}" placeholder="Search...">
        </form>
      </div>


    </div>
  </section>

  <div class="container">
    <div class="row">

      {% for item in items.all %}

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <img src="{{ item.icon.url }}" class="card-img-top" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">{{ item.caption }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button onclick="window.location='{% url 'detail' item.id %}';" style="cursor: pointer;" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                {% if user.id == item.artist.id %}
                  <form method="POST" action="{% url 'delete' item.id %}"> 
                      <!-- Security token by Django -->
                      {% csrf_token %} 
                      <input class="btn btn-sm btn-outline-secondary" type="submit" value="Delete" /> 
                  </form>
                {% endif %}
                </div>
                <small class="text-muted">By: {{ item.artist }}</small>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>




{% endblock %}